<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css.css">
       <link rel="stylesheet" href="assets/fonts/ArialRegular/ArialRegular/ArialRegular.woff">
       <link rel="stylesheet" href="assets/fonts/ArialRegular/ArialRegular/ArialRegular.ttf">
       <link rel="stylesheet" href="assets/fonts/ArialRegular/ArialRegular/ArialRegular.eot">
       <link rel="stylesheet" href="assets/fonts/Georgia/Georgia.eot">
       <link rel="stylesheet" href="assets/fonts/Georgia/Georgia.ttf">
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       <script src="script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="outer-container">
        <div id="top-bar">
            <div class="menu">
                <div class="logo">
                    <img src="assets/img/Union.png" class="logo-union" alt="logo">
                    <!-- <div class="name-union">pineapple.</div> -->
                    <img src="assets/img/pineapple..png" class="name-union"alt="name">
                </div>
                <div class="menu-intro">
                    <nav>
                        <ul class="menu_list">
                            <li>
                                <a href="#" class="menu_link">About</a>
                            </li>
                            <li>
                                <a href="#" class="menu_link">How it works</a>
                            </li>
                            <li>
                                <a href="#" class="menu_link">Contact</a>
                            </li> 
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!--top-bar close-->
            <form action="action.php" v-if="!submit" v-if="visible" onsubmit="request.bind(this)(event)" id="formsubscribe" method="POST">
                <div class="form-heading">
                    <div class="heading">Subscribe to newsletter</div>
                    <div class="text">Subscribe to our newsletter and get 10% discount on pineapple glasses.</div>
                </div> <!--form-heading close-->
                <input type="text" placeholder="Type your email address here…" class="subscribe" name="email" required>
                <button type="submit" @click="visible=!visible">
                    <img src="assets/img/ic_arrow.svg" alt="arrow" class="arrow">
                </button>
                <div class="check">
                    <input type="checkbox" checked="checked" name="subscription" class="ckeckterms">
                        <div class="agreement"> 
                            <div class="light">I agree to</div>&nbsp;
                            <div class="underline">terms of service</div>
                        </div>
                </div> <!--check close-->
            </form> <!--formsubscribe close-->
            <div id="form-end" v-if="submit">
                <div class="logo-end"><img src="assets/img/ic_success.svg" class="logo-cup" alt="cup"></div>
                <div class="heading-end">Thanks for subscribing!</div>
                <div class="text-end">You have successfully subscribed to our email listing. Check your email for the discount code.</div>
            </div> <!--form-end close-->
            <div id="footer">
                <div class="center">
                    <div class="string"></div>
                    <div class="icons">
                        <img src="assets/img/Facebook.png" class="icon" alt="facebook-logo">
                        <img src="assets/img/Instagram.png" class="icon"alt="instagram-logo">
                        <img src="assets/img/Twitter.png" class="icon"alt="twitter-logo">
                        <img src="assets/img/Youtube.png" class="icon" alt="youtube-logo">
                    </div>
                </div>
            </div><!--footer close-->
        <div id="image">
            <!-- <img src="assets/img/Image.png" class ="cover_img" alt="cover"> -->
        </div>
        <div class="image_mobile">
            <!-- <img src="assets/img/Image.png" class ="cover_img" alt="cover"> -->
        </div>
    </div>
    <div id="mobile-container">
        <div id="top-mobile">
            <div class="menu-mob">
                <div class="logo">
                    <img src="assets/img/Union.png" class="union-mob" alt="logo">
                </div>
                <div class="menu-intromob">
                    <nav>
                        <ul class="menu_list">
                            <li>
                                <a href="#" class="menu_link">About</a>
                            </li>
                            <li>
                                <a href="#" class="menu_link">How it works</a>
                            </li>
                            <li>
                                <a href="#" class="menu_link">Contact</a>
                            </li> 
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!--top-mobile close-->
        <form action="action.php" v-if="!submit" v-if="visible" onsubmit="request.bind(this)(event)" id="form_mobile" method="POST">
            <div id="heading-mobile">
                <div class="heading-mob">Subscribe to newsletter</div>
                <div class="text-mob">Subscribe to our newsletter and get 10% discount on pineapple glasses.</div>
            </div><!--heading-mobile close-->
            <input type="text" placeholder="Type your email address here…" class="subscribe-mobile" name="mail" required>
            <button type="submit" class="bttn-mob" @click="visible=!visible">
                <img src="assets/img/ic_arrow.svg" alt="arrow" class="arrow-mob">
            </button>
            <div class="check">
                <input type="checkbox" checked="checked" name="subscribe" class="ckeckterms">
                    <div class="agreement"> 
                        <div class="light-mob">I agree to</div>&nbsp;
                        <div class="underline-mob">terms of service</div>
                    </div>
            </div>
        </form> <!--form_mobile close-->
        <div id="end-mobile" v-if="submit">
            <div class="logo-end"><img src="assets/img/ic_success.svg" class="logo-cup" alt="cup"></div>
            <div class="heading-endmob">Thanks for subscribing!</div>
            <div class="text-endmob">You have successfully subscribed to our email listing. Check your email for the discount code.</div>
        </div> <!--end close-->
        <div id="footer_mobile">
            <div class="center">
                <div class="string"></div>
                <div class="icons">
                    <img src="assets/img/Facebook.png" class="icon-mob" alt="facebook-logo">
                    <img src="assets/img/Instagram.png" class="icon-mob"alt="instagram-logo">
                    <img src="assets/img/Twitter.png" class="icon-mob"alt="twitter-logo">
                    <img src="assets/img/Youtube.png" class="icon-mob" alt="youtube-logo">
                </div>
            </div>
        </div>
    </div>
</body>
</html>