@font-face {
    font-family: "ArialRegular";
    src: local(''),
    url("..assets/fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("..assets/fonts/ArialRegular/ArialRegular.ttf") format("ttf"),
    url("..assets/fonts/ArialRegular/ArialRegular.eot") format("eot");
    font-weight: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Georgia";
    src: local(''),
    /* url("..assets/fonts/Georgia/Georgia.woff") format("woff"), */
    url("..assets/fonts/Georgia/Georgia.ttf") format("ttf"),
    url("..assets/fonts/Georgia/Georgia.eot") format("eot");
    font-weight: normal;
    font-weight: 400;
}
html{
    box-sizing: border-box;
}
  *, *::before, *::after{
    box-sizing: inherit;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#outer-container{
    height: 100vh;
    display:grid;
    grid-template-rows: 52.123% 70px 42.374% ;
    grid-template-columns: 35.417% 4.323% 60.26%;
}
.container-first{
    grid-area: 1/1/3/4;
}
.top-bar{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.formsubscribe{
    grid-area: 2/1/3/3;
    background-color: white;
    width: auto;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 89.122% 10.878%;
}
input.subscribe{
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
    /* margin-left: 100px; */
    margin-left: 7.69vw;
    border:  1px solid #E3E3E4;
    border-left: 4px solid #4066A5;
}
input.subscribe:focus {
    outline: 0;
    outline-offset: 0;
}
input.subscribe::placeholder{
font-size: 16px;
color: #6A707B;
}
button{
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: white;
}
.bttn-arrow.arrow{
    grid-area: 1/2/2/3;
}
.footer{
    grid-area: 3/1/4/2;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    height: 100%;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ckeckterms{
    /* margin-left: 140px; */
    margin-left: 10.77vw;
}
.light{
    font-size: 16px;
    line-height: 28px;
    color:#6A707B;
}
.underline{
    font-size: 16px;
    line-height: 28px;
    text-decoration: underline;
}
.image{
    grid-area: 1/2/4/4;
    background-image: url(../assets/img/Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
/* .cover_img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
} */
.logo{
    margin-top: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    width: 9.08vw;
    /* width: 118px; */
    margin-left: 4.62vw;
}
.name-union{
    display: flex;
    align-items: center; 
    width: 6vw;
    height: 1.23vw;
}
.check{
    margin-top: 53px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.agreement{
   display: inline-flex;
   flex-flow:nowrap;
   margin-left: 1.15vw;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu-intro{
    display: flex;
    align-items:center;
}
ul.menu_list{
    /* width: 249px; */
    width: 19.15vw;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    margin-right: 2.31vw;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.menu_list li{
    list-style: none;
}

.menu_link{
    text-decoration: none;
    /*font-size: 24px;
    font-weight: 600;
    margin-bottom: 80px;
    color: rgba(0, 0, 0, 1); */
}
.form-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    /* width: 399px; */
    width: 30.69vw;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.form_mobile{
    display:none;
}
.text{
    /* width: 400px; */
    width: 30.77vw;
    line-height: 28px;
    display: flex;
    justify-content: center;
}
.string{
    /* width: 400px; */
    width: 30.77vw;
    height: 1px;
    background-color:#E3E3E4; ;
    margin-bottom: 50px;
}
.icon{
    /* margin-right: 20px; */
    margin-right: 1.54vw;
}
.icon:last-child{
    margin-right: 0;
}
#mobile{
    display: none;
}
.image_mobile{
    display: none;
}
#mobile-container{
    display: none;
}

@media (max-width: 375px){
    #mobile-container{
        display: grid;
        width: 100%;
        height: 100vh;
        background-image: url(../assets/img/Image.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-template-rows: 66px 188px 146px 60px 165px 187px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .top-mobile{
        grid-area: 1/1/2/4;
        background-color: white; 
    }
    .menu{
       display: inline-flex;
    }
    .logo{
        margin-top: 10px;
        margin-left: 5.33vw;
        width: fit-content;
    }
    .menu-intro{
        margin-top: 21px;
        font-size: 3.73vw;
        margin-left: 27.73vw;
    }
    ul.menu_list {
        margin-right: 5.33vw;
        justify-content: space-around;
        width: 54.93vw;
    }
    .name-union{
        display:none;
    }
    .heading-mobile{
        grid-area: 3/2/4/3;
        background-color: white;
        width: 89.33vw;
    }
    .heading-mob {
        font-size: 6.40vw;
        width: 78.67vw;
        margin-left: 5.33vw;
        margin-top: 30px;
    }
    .text-mob {
        width: 78.67vw;
        line-height: 26px;
        font-size: 3.73vw;
        margin-left: 5.33vw;
        margin-top:10px;
    }
    .form_mobile{
        grid-area: 4/2/5/3;
        background-color: white;
        display: flex;
        width: 89.33vw;
    }
    input.subscribe-mobile{
        border:  1px solid #E3E3E4;
        border-left: 4px solid #4066A5;
        border-right: none;
        margin-left: 5.33vw;
    }
    input.subscribe-mobile:focus {
        outline: 0;
        outline-offset: 0;
    }
    input.subscribe-mobile::placeholder{
    font-size: 16px;
    color: #6A707B;
    }
    button{
        z-index: 10;
        width: 100%;
        height: 100%;
        padding: 0;
        border:  1px solid #E3E3E4;
        background-color: white;
        border-left:none;
    }
    .footer_mobile{
        grid-area: 5/2/6/3;
        background-color: white;
        width: 89.33vw;
    }
    .check {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
    }
    .ckeckterms {
        /* margin-left: 20px; */
        width: 26px;
        height: 26px;
    }
    .string{
        width: 78.67vw;
        height: 1px;
        background-color:#E3E3E4; ;
        margin-bottom: 20px;
    }
    #outer-container{
        display:none;
    }
}