@font-face {
    font-family: "ArialRegular";
    src: local(''),
    url("..assets/fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("..assets/fonts/ArialRegular/ArialRegular.ttf") format("ttf"),
    url("..assets/fonts/ArialRegular/ArialRegular.eot") format("eot");
    font-weight: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Georgia";
    src: local(''),
    /* url("..assets/fonts/Georgia/Georgia.woff") format("woff"), */
    url("..assets/fonts/Georgia/Georgia.ttf") format("ttf"),
    url("..assets/fonts/Georgia/Georgia.eot") format("eot");
    font-weight: normal;
    font-weight: 400;
}
html{
    box-sizing: border-box;
}
  *, *::before, *::after{
    box-sizing: inherit;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.23vw;
}
#outer-container{
    height: 100vh;
    display:grid;
    grid-template-rows: 12.963% 55.555% 31.482%;
    grid-template-columns: 35.417% 4.323% 60.26%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
#top-bar{
    grid-area: 1/1/2/2;
    display: flex;
    /* flex-direction: column;
    justify-content: space-around; */
}
.logo{
    margin-top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 9.08vw;
    margin-left: 4.62vw;
    align-items: flex-end;
}
.logo-union{
    width: 1.92vw;
    height: 3.08vw;
}
.name-union{
    display: flex;
    width: 6vw;
    height: 1.23vw;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.menu-intro{
    display: flex;
    margin-top: 14px;
}
ul.menu_list{
    width: 19.15vw;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    margin-right: 2.31vw;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.menu_list li{
    list-style: none;
    display: flex;
    text-align:center;
    align-items: center;
}
.menu_link{
    text-decoration: none;
    color: #6A707B;
}
#formsubscribe{
    grid-area: 2/1/3/3;
    width: auto;
    margin: 0;
    display: grid;
    grid-template-rows: 66.5% 11.667% 21.833%;
    grid-template-columns: 89.122% 10.878%;
}
.form-heading{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
   overflow-x: hidden;
}
.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.46vw;
    margin-bottom: 1.15vw;
    margin-left: 7.69vw;
}
.text{
    line-height: 28px;
    margin-left: 7.69vw;
    margin-right: 7.69vw;
    color: #6A707B;
    margin-bottom: 3.85vw;
}
#form-end{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-cup{
    width: 3.38vw;
    height: 5.38vw;
}
.logo-end{
    margin-left: 7.69vw;
    margin-bottom: 2.31vw;
}
.heading-end{
    margin-left: 7.69vw;
    margin-bottom: 1.15vw;
    font-size: 2.46vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.text-end{
    margin-left: 7.69vw;
    margin-right: 7.69vw;
    line-height: 2.15vw;
    color: #6A707B;
}
input.subscribe{
    grid-area: 2/1/3/2;
    width: 100%;
    margin-left: 4.62vw;
    border:  1px solid #E3E3E4;
    border-right: none;
    border-left: 4px solid #4066A5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
}
input.subscribe:focus {
    outline: 0;
    outline-offset: 0;
    background-color: white;
}
input.subscribe:active {
    background-color: white;
}
input.subscribe::placeholder{
    font-size: 1.23vw;
    color: #6A707B;
}
button{
    grid-area: 2/2/3/3;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: white;
    border:  1px solid #E3E3E4;
    border-left: none;
}
button .arrow{
    width: 1.85vw;
    height: auto;
}
/* .validation-tooltip .tooltip-inner{
    background-color: #dc3545;
  }
*/  
.check{
    grid-area: 3/1/4/2;
    display:flex;
    align-items: center;
}
#footer{
    grid-area: 3/1/4/2;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ckeckterms{
    margin-left: 10.77vw;
}
.light{
    font-size: 1.23vw;
    line-height: 28px;
    color:#6A707B;
}
.underline{
    font-size: 1.23vw;
    line-height: 28px;
    text-decoration: underline;
}
#image{
    grid-area: 1/2/5/4;
    background-image: url(../assets/img/Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.agreement{
   display: inline-flex;
   flex-flow:nowrap;
   margin-left: 1.15vw;
}
.form_mobile{
    display:none;
}
.string{
    width: 30.77vw;
    height: 1px;
    background-color:#E3E3E4; ;
    margin-bottom: 3.85vw;
}
.icon{
    margin-right: 1.54vw;
    width: 3.54vw;
    height: auto;
}
.icon:last-child{
    margin-right: 0;
}
#end-mobile{
    grid-area: 3/2/4/3;
    background-color: white;
    flex-direction: column;
    display: flex;
}
#mobile{
    display: none;
}
.image_mobile{
    display: none;
}
#mobile-container{
    display: none;
}
@media (max-width: 375px){
    #mobile-container{
        display: grid;
        width: 100%;
        background-image: url(../assets/img/Image.png);
        background-size: cover;
        background-repeat: no-repeat;
        grid-template-rows: 66px 188px 274px 97px 187px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #top-mobile{
        grid-area: 1/1/2/4;
        background-color: white; 
    }
    .menu-mob{
       display: flex;
       justify-content: space-between;
    }
    .logo{
        margin-top: 10px;
        margin-bottom: 16px;
        margin-left: 5.33vw;
        width: fit-content;
    }
    .logo-cup{
        width: 44px;
        height: 70px;
        margin-bottom: 39px;
    }
    .menu-intromob{
        /* margin-top: 21px; */
        font-size: 3.73vw;
        display: flex;
        align-items: center;
    }
    ul.menu_list {
        margin-right: 5.33vw;
        justify-content: space-around;
        width: 54.93vw;
    }
    .name-union{
        display:none;
    }
    #form_mobile{
        grid-area: 3/2/4/3;
        background-color: white;
        display: grid;
        grid-template-columns:79.403% 20.597%;
        grid-template-rows: 53.285% 21.898% 24.817%;
        width: 89.33vw;
    }
    .heading-mobile{
        grid-area: 1/1/2/3;
        background-color: white;
        width: 89.33vw;
        height: 38.93vw;
    }
    .heading-mob {
        font-size: 6.40vw;
        width: 78.67vw;
        margin-left: 5.33vw;
        margin-top: 30px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .logo-endmob{
        margin-left: 5.33vw;
        margin-top: 8vw;
    }
    .heading-endmob{
        font-size: 24px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-left: 5.33vw;
        margin-bottom: 10px;
    }
    .text-endmob{
        font-size: 14px;
        line-height: 26px;
        color: #6A707B;
        margin-left: 5.33vw;
        margin-right: 5.33vw;
    }
    .text-mob {
        width: 78.67vw;
        line-height: 26px;
        font-size: 3.73vw;
        margin-left: 5.33vw;
        margin-top:10px;
        color: #6A707B;
    }
    input.subscribe-mobile{
        border:  1px solid #E3E3E4;
        border-left: 4px solid #4066A5;
        border-right: none;
        margin-left: 5.33vw;
        /* height: 100%; */
        grid-area: 2/1/3/2;
    }
    input.subscribe-mobile:focus {
        outline: 0;
        outline-offset: 0;
    }
    input.subscribe-mobile::placeholder{
        font-size:4.27vw;
        color: #6A707B;
    }
    input[type="text"] {
        background-color: white;
    }
    .bttn-mob{
        z-index: 10;
        height: 100%;
        padding: 0;
        border:  1px solid #E3E3E4;
        background-color: white;
        border-left:none;
        grid-area: 2/2/3/3;
        margin-right:5.33vw;
    }
    .check {
        margin-top: 5.33vw;
        margin-bottom: 5.33vw;
        display: flex;
        grid-area: 3/1/4/3;
    }
    .ckeckterms {
        width: 26px;
        height: 26px;
    }
    .arrow-mob{
        width: 6.40vw;
        height: 3.73vw;
        margin-right: 5.33vw;
    }
    .light-mob{
        font-size: 4.27vw;
        line-height: 7.47vw;
        color:#6A707B;
    }
    .underline-mob{
        font-size: 4.27vw;
        line-height: 7.47vw;
        text-decoration: underline;
    }
    .icon-mob{
        width: 12.27vw;
        height: 12.27vw;
        margin-right: 2.67vw;
    }
    .icon-mob:last-child{
        margin-right: 0;
    }
    #footer_mobile{
        grid-area: 4/2/5/3;
        background-color: white;
        /* width: 89.33vw; */
    }
    .string{
        width: 78.67vw;
        height: 1px;
        background-color:#E3E3E4; ;
        margin-bottom: 20px;
    }
    #outer-container{
        display:none;
    }
}